@page "/"

<PageTitle>Home</PageTitle>

<h1>Demo Project</h1>

<ul>
	<li>
		<NavLink href="/cities">List of cities</NavLink>
	</li>
	<li>
		<NavLink href="cities/add">Add city</NavLink>
	</li>
</ul>
<p>Add more links here.</p>
